<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengdu.dao.CommodityMapper">
    <select id="queryList" resultType="com.fengdu.pojo.CommodityPojo">
        select * from nideshop_goods where 1 = 1
        <!--<if test="categoryId != null">-->
            <!--and category_id = #{categoryId}-->
        <!--</if>-->
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
        <!--<if test="orderBy != null">-->
            <!--order by #{orderBy}-->
        <!--</if>-->
    </select>

    <select id="queryListByCategory" resultType="com.fengdu.pojo.CommodityPojo">
        select * from nideshop_goods where 1 = 1
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

</mapper>